body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#chat {
  overflow-y: scroll;
  height: 300px;
}
#contentWrap {
  display:none;
}
#chatWrap {
  width: 100%;
  float: left;
  border: 1px #000 solid;
}

.form-signin button {
  margin-top: 20px;
}

.system-message {
  color: red;
}

.room-area {
  border: 1px #000 solid;
}

.chat-area {
  border: 1px #000 solid;
}

.card {
  margin-bottom: 20px;
}

.test-area {
  border: 1px red solid;
}
